body {
    background-image: url("https://i.pinimg.com/originals/93/57/13/935713ff9e64add0c841e15f88c114b9.jpg");
    background-repeat: repeat;
    background-size: cover;
}

#pageHeader {
    background-color: red;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    border-top: 4px solid black;
    display: inline-flex;
    font-family: Josefin Sans;
    font-size: 75px;
    letter-spacing: -11px;
    margin: -1px 0px 0px 0px;
    padding-bottom: 3px;
    padding-right: 32px;
    padding-top: 18px;
    text-align: center;
}

.headerContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    
}

.headerimageContainer {
    background-color: red;
    border-bottom: 5px solid black;
    border-left: 4px solid black;
    height: 100px;
    padding-bottom: 0px;
}

#headerImage {
    border-top: 4px solid black;
    height: 90px;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 400px;
}

#characterSelect {
    box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	background-color:#fe1a00;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color: black;
	font-family: Josefin Sans;
	font-size: 18px;
    font-weight:bold;
    margin-left: -26.5%;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}

.characterSelectContainer {
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 200px;
    padding: 10px;
    width: 55%;
}

.previewContainer {
    background-image: url("https://img.freepik.com/free-vector/blue-abstract-comic-book-background-cartoon-style-bigbamm-sunlight-vector-illustration_68708-190.jpg?size=626&ext=jpg");
    background-size: 791.6px 1000px;
    border-radius: 2px;
    box-shadow: 0px 7px 8px 8px rgba(50, 50, 50, 1);
    display: flex;
    flex-wrap: wrap;
    height: 920px;
    margin: 0px auto;
    padding: 0px 20px;
    width: 50%;
    
}

.previewHeader {
    font-family: 'Comic Neue', cursive;
    margin: 0px 0px 0px 25%;
    padding-top: 20px;
    text-align: center;
    
}

#characterName {
    font-family: 'Comic Neue', cursive;
    font-size: 30px;
    margin-left: 3.5%;
    padding-top: 20px;
    text-transform: uppercase;
    width: 100%;
}

#characterImage {
    border: 3px solid black;
    border-radius: 0px;
    box-shadow: 0px 10px 18px 0px rgba(50, 50, 50, 1);
    margin-left: 3%;
}

#imageDescriptionContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#characterDescriptionHeader {
    font-family: Josefin sans;
    font-size: 20px;
    margin-left: 5%;
}

#characterDescription {
    font-family: Josefin sans;
    margin: 40px 0px 0px 20px;
}

.comicsContainer {
    display: flex;
    height: 320px;

}

#comicsHeader {
    font-family: 'Comic Neue', cursive;
    height: 40px;
    text-align: center;
    width: 100%;
    
}

#comicImage {
    margin-right: 5px;
}

#comicDetailsContainer {
    display: flex;
    flex-wrap: wrap;
    height: 270px;
}

button {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:12px;
    font-weight:bold;
    height: 20px;
    margin-left: 20%;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}

a {
    height: 225px;
}


#comicComponentsContainer {
    display: flex;
    flex-direction: row;
}


.comicListContainer {
    background-color: lightslategray;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Comic Neue', cursive;
    height:450px;
    margin-right: 20px;
    margin-top: 250px;
    width:25%;

}

#savedComicHeader {
    height: 40px;
    margin: 20px 0px 0px 0px;
    text-align: center;
    width: 100%;
}

.comicListAside {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.singleSavedComicContainer {
    display: flex;
    flex-direction: row;
    height: 120px;
    margin-left: 30px;
}

.savedComicTitle {
    margin-left: 20px;
}

#savedComicLink {
    height: 70px;
    width: 50px;
}